- if user_signed_in? && current_user.admin?
  %h1 Hello, admin!
  = link_to 'Sing Out', destroy_user_session_path, :method => :delete
-else
  %h1 Hello, user!
  = link_to 'Sing In', new_user_session_path
